.group-edit
  .ui.center.aligned.container
    .group-edit__form
      %span.title
        %i.slideshare.icon
        グループを編集
        %i.slideshare.icon
      = render 'form', group: @group
      %br/
