.group-edit
  .ui.center.aligned.container
    .group-edit__form
      %span.title
        %i.slideshare.icon
        グループを編集
        %i.slideshare.icon
      = render 'form', group: @group
      %br/
      %button.ui.compact.labeled.icon.button.olive
        %i.exchange.icon
        変更する
      / = link_to '一覧画面に戻る', @group
      / |
      / \#{link_to 'Back', groups_path}
