- groups.each do |group|
  %li.group__lists-list
    = link_to  group_path(group) do
      %span
        %i.arrow.alternate.circle.right.outline.icon
        チーム名:
        =group.name
  .ui.divided.very.relaxed.animated.list
    %h2 グループ内のプロジェクト
    - group.projects.each do |project|
      .projects
        .ui.equal.width.center.aligned.padded.grid
          .ui.card
            .title
              =link_to project.title, group_project_path(project.group.id, project.id)
            .image
              %img{:src => "https://semantic-ui.com/images/avatar2/large/kristy.png"}/
            .content
              .header
                = project.user.name
              .meta
                %span.date
                  =project.created_at
              .description
                =project.content
            .extra.content
              .members
                %i.user.icon
                = "#{group.users.count} members"
