
.main.ui.center.aligned.text.container
  .make-group__form
  =link_to '新規グループを作成', new_group_path
  %h1
    ユーザー：#{current_user.email}
  %br/
  %h3 参加中のグループ一覧
  %ul.group__lists
    = render partial: 'group', locals: {groups: @groups}
