.user-index
  .ui.center.aligned.container
    .user-index__main
      .user-name
        %span
          参加中のグループ一覧
      %h3
      %ul.group__lists
        = render partial: 'group', locals: {groups: @groups}
      .ui.circular.google.plus.icon.button
        = link_to new_group_path do
          %i.edit.outline.icon
          新グループ作成
