.card-new
  .ui.center.aligned.container
    = form_tag('/users/card', method: :post, class: 'card-new-form') do
      .card-new-form__box
        .errors
        %span.title
          支払い用クレジットカード登録
        .form-group
          %label{:for => "inputCardNumber"} カード番号
          %input#card_number.form-control{placeholder: "カード番号", type: "text"}/
        .form-group
          %label{for: "inputCVV"} CVV/セキュリティコード
          %input#cvv.form-control{placeholder: "CVV", type: "text"}/
        .form-group
          %label{for: "inputExp"} 有効期限
          .row
            .col-md-6
              %input#exp_year.form-control{placeholder: "年",type: "text"}/
            .col-md-6
              %input#exp_month.form-control{placeholder: "月",type: "text"}/
        %button#token.ui.yellow.labeled.icon.button
          %i.credit.card.outline.icon
          カード登録
