.project-edit{
  background-image: image-url('project.jpg');
  background-size: cover;
  // height: 100%;
  .ui.center.aligned.text.container{
    height: 100%;
    background-color: #FEFEFE99;
  }
  &-main{
    padding: 110px;
    button.ui.compact.labeled.icon.button.olive{
      margin-top: 20px;
    }
    #new_project{
      .field{
        margin: 15px 0;
        .label{
          font-size: 20px;
          font-weight: 600;
          border-bottom: dashed 2px;
        }
        #project_video{
          border-radius: 5px;
        }
        #project_content{
          font-size: 18px;
          padding: 5px;
          padding-right: 50px;
          border-radius: 8px;
          border: 1px solid rgba(34,36,38,.15);
        }
      }
    }
    &__title{
      margin-bottom: 20px;
      span{
        background: linear-gradient(transparent 70%, #ff99ab 70%);
        font-size: 34px;
      }
    }
  }
}
#img_field {
  width: 300px;
  height: 240px;
  margin: 10px auto;
  padding: 5px 8px;
  border: solid 1px #EDBC6C;
  border-radius: 5px;
  cursor: pointer;
  font-size: 20px;
  color: #666;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-color: #fff;
  box-sizing: border-box;
  img{
    width: 100%;
  }
  &:hover{
    background-color: #EDBC6C;
  transition: 0.3s ease-out;
  opacity: 0.9;
  }
}
