
.user-index{
  width: 100%;
  background-image: image-url('user_index.jpg');
  background-size: cover;
  background-position: center;
  .ui.center.aligned.container{
    height: 100%;
    background-color: #F9FAF4E4;
    padding: 140px 0 50px;
  }
  &__main{
    .user-name{
      span{
        background: linear-gradient(transparent 70%, #ff99ab 70%);
        font-size: 34px;
      }
    }
    .make-group__form{
      margin-top: 30px;
      font-size: 20px;
      a{
        display: contents;
      }
    }
    .ui.divided.very.relaxed.animated.list{
      width: 70%;
      margin: 0 auto;
      .projects{
        margin-top: 30px;
        .ui.equal.width.center.aligned.padded.grid{
          padding-bottom: 30px;
          border-bottom: dotted;
          .ui.card{
            width: 70%;
            .title{
              height: 50px;
              font-size: 20px;
              line-height: 50px;
              vertical-align: middle;
              text-decoration: underline;
              margin: 10px 0;
              a{
                padding: 5px;
                border-radius: 5px;
                &:hover{
                  background-color: #FC800823;
                }
              }
            }
            .image{
            }
            .content{
              padding: 20px 0;
              .meta{
              }
              .header{
              }
              .description{
              }
            }
            .extra{
              .members{
              }
            }
          }
        }
      }
    }
    .group__lists{
      &-list{
        color: black;
        list-style: none;
        line-height: 40px;
        font-size: 30px;
        padding-bottom: 20px;
        a{
          padding: 5px;
          border-radius: 5px;
          span{
            background: linear-gradient(transparent 70%, #7FFE07FF 90%);
          }
          &:hover{
            background: #FC8008FF;
            color: black;
          }
        }
        &-sub{
          line-height: 30px;
          font-size: 30px;
        }
      }
    }
    .ui.circular.google.plus.icon.button{
      position: fixed;
      top:130px;
      right: 12%;
      height: 150px;
      width: 170px;
      line-height: 130px;
      vertical-align: middle;
      border-radius: 50%;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      a{
        color: black;
        &:hover{
          background-color: #FEFEFE00;
        }
      }
    }
  }
}

